@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/button/Button.module';

.contactsBlock {
  background-color: #d4ffff;
}

.contactsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: #fcc57e;
}

.contactForm {
  width: 50%;
  background-color: #96fc7e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm input, .contactForm textarea {
  width: 100%;
}

.submitBtn {
  padding: 10px 20px;
  background-color: blueviolet;
}

