.contactsBlock {
    height: 100vh;
    background-color: #d4ffff;
}

.text {
    width: 300px;
    background-color: cadetblue;
}
.title {
    background-color: #fcc57e;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: cadetblue;
}