.skillsBlock {
    height: 100vh;
    background-color: #96fc7e;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #fcc57e;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


