.project {
    width: 250px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: cadetblue;
}