.projectsBlock {
    background-color: #1f1f20;
    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: #eeeef5;
}
.title h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 1129px) {
        .projects {
            justify-content: center;
        }
}

